# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.osu-music-exporter.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jackson\Desktop\osu-music-exporter\.idea\.idea.osu-music-exporter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
